@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/components.css";

:root {
    max-width: 100%;
    @apply min-h-screen text-[#EDEDF2];
}

html, body {
  overflow-x: hidden;
}

.scrollbar-hide {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}